<html>
<body>
<ul>
<li> Name: {{planet.name}}
<li> System: <a href="{% url 'systemDetails' planet.system.id %}">{{planet.system.name}}</a>
<li> Condition: {{planet.condition}}
<li> Category: {{planet.get_categ_display}}
<li> Size: {{planet.get_size_display}}
<li> Orbit: {{planet.orbit}}
{% if planet.owner %}
<li> Owner: <a href="{% url 'playerDetails' planet.owner.id %}">{{planet.owner.name}}</a>
{% else %}
<li> Unowned
{% endif %}
{% if planet.get_categ_display == 'Planet' %}
    <li> Richness: {{planet.get_richness_display}}
    <li> Gravity: {{planet.get_gravity_display}}
    <li> Climate: {{planet.get_climate_display}}
    <li> Population: {{planet.population}}
{% endif %}
</ul>
</body>
</html>
