<html>
<body>
<ul>
<li> Name: {{planet.name}}
<li> System: <a href="{% url 'systemDetails' planet.system.id %}">{{planet.system.name}}</a>
<li> Condition: {{planet.condition}}
<li> Category: {{planet.get_categ_display}}
<li> Size: {{planet.get_size_display}}
<li> Orbit: {{planet.orbit}}
{% if planet.owner %}
<li> Owner: <a href="{% url 'playerDetails' planet.owner.id %}">{{planet.owner.name}}</a>
{% else %}
<li> Unowned
{% endif %}
{% if planet.get_categ_display == 'Planet' %}
    <li> Richness: {{planet.get_richness_display}}
    <li> Gravity: {{planet.get_gravity_display}}
    <li> Climate: {{planet.get_climate_display}}
    <li> Population: {{planet.population}}
    <li> Max Population: {{planet.maxpop}}
    {% if planet.buildings.all %}
    <li> Buildings:
        <ul> 
            {% for bld in planet.buildings.all %}
                <li> {{bld.name}}
            {% endfor %}
        </ul>
    {% endif %}
    <li> Can build:
        <ul>
        {% for bld in planet.available_buildings %}
            <li> <a href="{% url 'constructBuilding' planet.id bld.id %}">Construct {{bld.name}} for {{bld.cost}}</a>
        {% endfor %}
        </ul>

    <li> Farmers: {{planet.farmers}} 
        {% if planet.farmers %}
            (<a href="{% url 'assignWorkers' planet.id 'F' 'S' %}">S</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'F' 'W' %}">W</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'F' 'U' %}">U</a>)
        {% endif %}
    <li> Workers: {{planet.workers}}
        {% if planet.workers %}
            (<a href="{% url 'assignWorkers' planet.id 'W' 'F' %}">F</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'W' 'S' %}">S</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'W' 'U' %}">U</a>)
        {% endif %} 
        <ul> 
        <li> Productivity: {{planet.work_points}}
        <li> Building: {{planet.constructing.name}} ({{planet.build_points}} / {{planet.constructing.cost}})
        </ul>
    <li> Scientists: {{planet.scientists}}
        {% if planet.scientists %}
            (<a href="{% url 'assignWorkers' planet.id 'S' 'F' %}">F</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'S' 'W' %}">W</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'S' 'U' %}">U</a>)
        {% endif %}
    <li> Unassigned: {{planet.unassigned}}
        {% if planet.unassigned %}
            (<a href="{% url 'assignWorkers' planet.id 'U' 'F' %}">F</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'U' 'S' %}">S</a> &nbsp;
            <a href="{% url 'assignWorkers' planet.id 'U' 'W' %}">W</a>)
        {% endif %}
{% endif %}
</ul>
</body>
</html>




