<html>
<body>
<ul>
<li> Turn: {{game.turn}} <a href="{% url 'nextTurn' game.id %}">Next Turn</a>
<li> Players:
    <table>
    <tr><th>Name</th><th>Researching</th><th>Credits</th><th>Messages</th></tr>
    {% for plr in players %}
        <tr>
            <td><a href="{% url 'playerDetails' plr.id %}">{{plr.name}}</a></td>
            <td>{{plr.researching}}</td>
            <td>{{plr.credits}}</td>
            <td>{% for msg in plr.unread_messages %}{{msg}};&nbsp;{% endfor %}</td>
        </tr>
    {% endfor %}
    </table>
<li> Systems:
    <table>
    <tr> <th>Name</th> <th>Category</th></tr>
    {% for system in systems %}
        <tr>
            <td><a href="{% url 'systemDetails' system.id %}">{{system.name}}</a></td>
            <td> {{system.category.name}} </td>
        </tr>
        <tr>
            <td>&nbsp; </td>
            <td>
                <table border=1>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Constructing</th>
                        <th>F/W/S/U</th>
                        <th>Climate</th>
                        <th>Size</th>
                        <th>Richness</th>
                        <th>Gravity</th>
                        <th>Category</th>
                    </tr>
                    {% for planet in system.planets.all %}
                        <tr>
                            <td><a href="{% url 'planetDetails' planet.id %}">{{planet.name}}</a></td>
                            <td>{% if planet.owner %}<a href="{% url 'playerDetails' planet.owner.id %}">{{planet.owner.name}}</a>{% else %} None {% endif %}</td>
                            <td>
                            {% if planet.con_build %}
                                {{planet.con_build}}
                            {% endif %}
                            {% if planet.con_ship %}
                                {{planet.con_ship}}
                            {% endif %}
                            </td>

                            <td>{{planet.farmers}} / {{planet.workers}} / {{planet.scientists}} / {{planet.unassigned}}</td>
                            <td>{{planet.get_climate_display}}</td>
                            <td>{{planet.get_size_display}}</td>
                            <td>{{planet.get_richness_display}}</td>
                            <td>{{planet.get_gravity_display}}</td>
                            <td>{{planet.get_categ_display}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endfor %}
    </table>
</ul>
</body>
</html>
