<html>
<body>
<ul>
<li> Name: {{player.name}}
<li> Game: <a href="{% url 'gameDetails' player.game.id %}">{{player.game.name}}</a>
<li> Race: {{player.race}}
<li> Messages: {% for msg in player.unread_message %}
    <ul>
    <li> {{msg}}
    </ul>
    {% endfor %}
<li> Researching: 
{% if player.researching %}
<a href="{% url 'techDetails' player.researching.id %}">{{player.researching}}</a> ({{player.research_points_per_turn}} RP/turn)({{player.research_turns_to_go}} turns left)
{% else %}
None
{% endif %}
<li> Credits: {{player.credits}}
<li> Planets:
    <ul>
    {% if player.owned_planets %}
        {% for planet in player.owned_planets %}
            <li> <a href="{% url 'planetDetails' planet.id %}">{{planet.name}}</a>
        {% endfor %}
    {% else %}
         <li> None
    {% endif %}
    </ul>
<li> Ships:
    <ul>
    {% for ship in player.owned_ships %}
        <li> <a href="{% url 'shipDetails' ship.id %}">{{ship.name}} - {{ship.design.name}}</a>
    {% endfor %}
    </ul>
<li> Known Technologies:
    <ul>
        {% for tech in player.know.all %}
            <li> <a href="{% url 'techDetails' tech.id %}">{{tech.name}}</a>
        {% endfor %}
    </ul>
<li> Available for Research:
    <ul>
        {% for techcat, techs in player.availableResearch.items %}
            <li> {{techcat.get_category_display}}: {{techcat.name}} ({{techcat.cost}} RP)
                <ul>
                    {% for t in techs %}
                        <li> <a href="{% url 'techDetails' t.id %}">{{t.name}}</a> (<a href="{% url 'setResearch' player.id t.id %}">Research</a>)
                    {% endfor %}
                </ul>
        {% endfor %}
    </ul>
</ul>
</body>
</html>
