<html>
<body>
<ul>
<li> Name: {{player.name}}
<li> Game: <a href="{% url 'gameDetails' player.game.id %}">{{player.game.name}}</a>
<li> Messages: {% for msg in player.unread_messages %}
    <ul>
    <li> {{msg}}
    </ul>
    {% endfor %}
<li> Researching: 
{% if player.researching %}
<a href="{% url 'techDetails' player.researching.id %}">{{player.researching}}</a> ({{player.research_points_per_turn}} RP/turn)({{player.research_turns_to_go}} turns left)
{% else %}
None
{% endif %}
<li> Credits: {{player.credits}}
<li> Planets:
    <table border=1>
        <tr>
            <th>Name</th>
            <th>Constructing</th>
            <th>F/W/S/U</th>
            <th>Inc - Exp = Prof</th>
            <th>Prod - Cons = Food</th>
            <th>RP</th>
            <th>Pop (Growth) Max</th>
        </tr>
        {% for planet in player.owned_planets %}
        <tr>
            <td><a href="{% url 'planetDetails' planet.id %}">{{planet.name}}</a></td>
            <td>{{planet.constructing}}</td>
            <td>{{planet.farmers}} / {{planet.workers}} / {{planet.scientists}} / {{planet.unassigned}}</td>
            <td> {{planet.income}} - {{planet.expenses}} = {{planet.profit}}</td>
            <td> {{planet.food_produced}} - {{planet.food_consumed}} = {{planet.food_points}}</td>
            <td> {{planet.research_points}} </td>
            <td> {{planet.population}} ({{planet.pop_growth}}) {{planet.maxpop}} </td>
        </tr>
        {% endfor %}
    </table>
<li> Ships:
    <ul>
    {% for ship in player.owned_ships %}
        <li> <a href="{% url 'shipDetails' ship.id %}">{{ship.name}} - {{ship.design.name}}</a>
    {% endfor %}
    </ul>
<li> Known Technologies:
    <ul>
        {% for tech in player.know.all %}
            <li> <a href="{% url 'techDetails' tech.id %}">{{tech.name}}</a>
        {% endfor %}
    </ul>
<li> Available for Research:
    <ul>
        {% for techcat, techs in player.availableResearch.items %}
            <li> {{techcat.get_category_display}}: {{techcat.name}} ({{techcat.cost}} RP)
                <ul>
                    {% for t in techs %}
                        <li> <a href="{% url 'techDetails' t.id %}">{{t.name}}</a> (<a href="{% url 'setResearch' player.id t.id %}">Research</a>)
                    {% endfor %}
                </ul>
        {% endfor %}
    </ul>
</ul>
</body>
</html>
